
ul {
  list-style: none;
}

ul li:before
{
  content: '\203A';
  font-size: 2em;
  margin: -0.2em -0.5em;    /* any design */
  width: 1em !important;
  float: left; 
  margin-left: -12px;
  line-height: 1.4;
}

/*
ul {
  list-style-image: url('sqpurple.gif');
}
*/
/* Pages */
.page {
  padding: 50px 40px;
  width: 100%;
  height: auto;
  min-height: 100vh;
}
/* Hintergrungfarben */
.grey--bg {
  background-color: rgba(241, 241, 241, 1.0);
}

/* Boxes */
.box--white {
  background-color: rgba(255, 255, 255, 1.0);
}
.box--padding {
 padding: 30px 25px;
}

/*
.box--min-height {
  min-height: 0px !important;
}

@media (min-width: 768px) {	
  .box--min-height {
    min-height: 850px;
  }
}
@media (min-width: 992px) {	
  .box--min-height {
    min-height: 750px;
  }
}
@media (min-width: 1200px) {	
  .box--min-height {
    min-height: 650;
  }
}
@media (min-width: 1400px) {	
  .box--min-height {
    min-height: 550;
  }
}

.box--min-height-image {
  min-height: 0px;
}

@media (min-width: 768px) {	
  .box--min-height-image {
    min-height: 200px;
  }
}
@media (min-width: 992px) {	
  .box--min-height-image {
    min-height: 350px;
  }
}

@media (min-width: 1200px) {	
  .box--min-height-image {
    min-height: 390px;
  }
}

*/


/* Buttons */
/* Runder Button */
.round-button {
  display:flex;
  align-items: center;
  justify-content: center;
  width:40px;
  height:40px;
  border: 2px solid #f5f5f5;
  border-radius: 50%;
  color:#f5f5f5;
  text-align:center;
  text-decoration:none;
  background: #7ab331;
  font-size:20px;
  font-weight:bold;
}
/* Animations */
.animated-arrow{  animation-name: animation-arrow;  animation-duration: 4s;  animation-iteration-count: infinite;  animation-delay: 1s;}
@keyframes animation-arrow {
    0%  {transform: translateY(0px)}
    10% {transform: translateY(-5px)}
    20%  {transform: translateY(0px)}
    30% {transform: translateY(-5px)}
    40%  {transform: translateY(0px)}
    50% {transform: translateY(-5px)}
    60% {transform: translateY(0px)}
    70% {transform: translateY(-5px)}
    80% {transform: translateY(0px)}
    90% {transform: translateY(0px)}
    100% {transform: translateY(0px)}
  }


/* Definition runder Button */

  
  /* Pfeilsymbol*/
  .arrow {
    border: solid rgb(255, 255, 255);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  /* Pfeilsymbol drehen (unten)*/
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  /* GrÃ¼ne Buttons */
.green-button {
    background-color: #7ab331; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    border-radius: 4px;
}
/* Schatten grÃ¼ne Buttons */
.green-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }

/* Border entfernen fÃ¼r list Elemente  */
.list-group li{
    border:none;
  }


  .hide-mobile{
    display: none;
  } 

  @media (min-width: 992px) {	
    .hide-mobile{
      display: flex;
    } 
  }